@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --bg-main: #1f2026;
  --bg-light: #242427;
  --bg-hover: #2a2b2f;
  --scrollbar-thumb: #48494e;
  --transition-speed: 0.2s;
  --text-primary: #f0f0f3;
  --text-secondary: #d1d3da;
  --text-tertiary: #b3b6c2;
}

[data-theme="light"] {
  --bg-main: #ffffff;
  --bg-light: #f0f0f3;
  --bg-hover: #e1e2e7;
  --scrollbar-thumb: #b3b6c2;
  --text-primary: #242427;
  --text-secondary: #48494e;
  --text-tertiary: #6b6d74;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-main);
  transition: all var(--transition-speed) ease-in-out;
}

/* Adjust all MUI components transition */
.MuiPaper-root,
.MuiBox-root,
.MuiTypography-root,
.MuiButton-root {
  transition: all var(--transition-speed) ease-in-out !important;
}

/* Chart text colors */
.recharts-text,
.recharts-label {
  fill: var(--text-primary) !important;
}

.recharts-legend-item-text {
  color: var(--text-secondary) !important;
}